@page "/blog/{link}"
@model OneSoft.Pages.BlogModel

<!DOCTYPE html>
<html lang="en">

<head>
  <title>@Model.Title</title>
  <meta name="tilte" content="@Model.Title" />
  <meta name="description" content="@Model.Title" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" />
  <link rel="stylesheet" href="/css/bulma.min.css" />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="/" />
  <meta property="og:title" content="@Model.Title" />
  <meta property="og:description" content="@Model.Title" />
  <meta property="og:image" content="/images/cover.png" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="theme-color" content="#585c7d" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
</head>

<body class="p-6">
  <ul class="columns is-centered">
    <li class="column is-half">
      <div class="card">
        <div class="card-content content">
          <h1>This is blog page</h1>
          <p>
            @for (int i = 0; i < 5; i++)
            {
              <a class="is-block" href="/blog/this-blog-@i">
                This is blog @i
              </a>
            }
          </p>
          <p>
            Query Link: <code>@Model.Link</code>
          </p>
          <p>
            Blog URL: <code>@Model.Request.Scheme://@Model.Request.Host@Model.Request.Path</code>
          </p>
          <p>
            Referer URL: <code>@Model.Request.Headers.Referer</code>
          </p>
          <p>
            Host URL: <code>@Model.Request.Headers.Host</code>
          </p>
          <p>
            UserAgent: <code>@Model.Request.Headers.UserAgent</code>
          </p>
        </div>
        <div class="card-footer">
          <a onclick="document.location.reload()" class="card-footer-item">Reload</a>
          <a href="/" class="card-footer-item">Back</a>
        </div>
      </div>
    </li>
  </ul>
</body>

</html>