@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<aside class="menu p-3 is-size-14">
  <p class="menu-label">
    Cấu hình hệ thống
  </p>
  <ul class="menu-list">
    @foreach (var main in navList)
    {
      <li>
        <a class="@(main.active ? "is-active" : "")" href="@main.link">@main.name</a>
        @if(main.childs != null)
        {
          <ul>
            @foreach (var child in main.childs)
            {
              <li>
                <a class="@(child.active ? "is-active" : "")" href="@child.link">@child.name</a>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</aside>

@code {
  [CascadingParameter]
  public LayoutMain Layout { get; set; }
  private List<NavModel> navList = new()
  {
    new("Home", "home", ""),
    new("Blog", "blog/post-link", ""),
    new("Login", "login", ""),
  };

  protected override void OnParametersSet()
  {
    var link = navigation.Uri.Replace(navigation.BaseUri, "");
    foreach (var main in navList)
    {
      main.active = link.StartsWith(main.link);
      if (main.childs != null)
      {
        foreach (var child in main.childs)
        {
          child.active = link.StartsWith(child.link);
          if(child.active)
            main.active = true;
        }
      }
    }
  }
}